 <h1>Hello world!</h1>
<p>The time is <%= Time.now %></p>

<h1>videogames</h1>
<ul>
  <% videogames.each do |videogames| %>
    <li>
      <a href="mailto:<%= videogames[:ranking] %>"><%= videogames[:name] %></a>
      (<%= videogames[:console] %>)
    </li>
  <% end %>
</ul>
